<div class="register-wrapper">
<div class="auth-box">
  <h1>Register Form</h1>

  <input [(ngModel)]="regName" type="text" placeholder="Your Name" />
  <br>
  <input [(ngModel)]="regEmail" type="text" placeholder="Your Mail-Id" />
  <br>
  <input [(ngModel)]="regPass" type="text" placeholder="Your PassWord" />
  <br>
  <button (click)="isClickedReg()">Submit</button>

  <p class="error">{{ mesg }}</p>

  <hr>

  <p>
    Already have an account?
    <a routerLink="/login">Login here</a>
  </p>
</div>
</div>
